.App {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.screen {
  height: 50px;
  color: whitesmoke;
  background-color: darkgray;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.button {
  width: 100px;
  height: 70px;
  border: 0.5px solid lightgray;
}

.button.zero {
  width: 200px;
}
